@charset "UTF-8";
@import url('https://fonts.googleapis.com/css?family=Noto+Sans+JP:400,700|Noto+Sans:400,700&display=swap');

// Bootstrap Style~
$primary: #076EB2;
// $gray-800: #076EB2;
$gray-800: rgba(7, 110, 178, .8);
$green: #EEEEEE;
$link-hover-decoration: none;
$navbar-dark-color: rgba(255, 255, 255, .75);
$navbar-dark-hover-color: rgba(255, 255, 255, .95);
// Dropdown style
// $dropdown-bg:                       rgba(58,160,212,.75);
$dropdown-bg: rgba(58, 160, 212, .75);
$dropdown-border-color: rgba(255, 255, 255, .5);
$enable-caret: false;
// $dropdown-header-color:             rgba(58,160,212,.75);
$dropdown-box-shadow: 1rem 2rem rgba(8, 57, 90, .8);
$dropdown-link-color: rgba(255, 255, 255, .95);
$dropdown-link-hover-color: rgba(5, 70, 149, .95);
$dropdown-link-hover-bg: rgba(255, 255, 255, .5);
$dropdown-divider-bg: rgba(8, 57, 90, .5);
$dropdown-link-active-color: rgba(255, 255, 255, .95);
$dropdown-link-active-bg: rgba(7, 110, 178, .95);
$box-shadow-sm: 2px 2px 5px 2px rgba(0, 0, 0, .1);
$box-shadow: 2px 2px 5px 2px rgba(0, 0, 0, .1);
$box-shadow-lg: 2px 2px 5px 2px rgba(0, 0, 0, .1);

// ~Bootstrap Style
// -------------------------------------------------------------
// ナブバーコントロールのスタイル
// @media only screen and (min-width : 768px) {
//     /* デスクトップ表示ではホバー操作でドロップダウンを表示 */
//     .dropdown:hover .dropdown-menu {
//         display: block;
//     }
// }
// -------------------------------------------------------------
html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    // font-family: 'M PLUS 1p', sans-serif;
    font-size: 100%;
}

body {
    background-color: #eee;
    font-size: 1.6rem;
    /* 16px*/
    line-height: 2;
}
    .container {
    padding-right: 0px !important;
    padding-left: 0px !important;
    }



// -------------------------------------------------------------
// Header Style~
header {
    position: relative;
    height: 200px;
    background: url("../images/header.jpg") center no-repeat;
    background-color: #076EB2;
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
    z-index: 10;
}

// ~Header Style
// -------------------------------------------------------------
// Navbar Style~

a .navbar-brand {
    display: inline-block;
    padding-top: .3125rem;
    padding-bottom: .3125rem;
    margin-right: 1rem;
    font-size: 1.25rem;
    line-height: inherit;
    white-space: nowrap;
}

// ~Navbar Style

// -------------------------------------------------------------
// Movie Full Screen Style~
.box {
    overflow: hidden;
    position: relative;
}

.navbar-brand img {
    margin-right: 15px;
}

.fitMovie {
    position: absolute;
    top: 0 !important;
}

.box__centered {
    width: 100%;
    left: 50%;
    position: absolute;
    top: 50%;
}

.box__contents {
    width: 100%;
    text-align: center;
    transform: translate(-50%, -50%);
}

.box__title {
    // font-family: 'Noto Serif JP', serif;
    display: block;
    width: 100%;
    font-style: bold;
    // font-size: 4vw;
    text-shadow: 2px 2px 5px #000;
    color: #fff;
    margin-bottom: 30px;
}

.box__text {
    // font-family: 'Noto Serif JP', serif;
    display: block;
    width: 100%;
    // font-size: 2.5vw;
    text-shadow: 2px 2px 5px #000;
    color: #fff;
}

// .sec {
//     margin-bottom: 120px;
// }
// .page-title__title {
//     color: #333;
//     font-size: 48px;
//     font-weight: 700;
//     margin-bottom: 40px;
//     text-align: center;
// }
// ~Movie Full Screen Style
// -------------------------------------------------------------
// Article Style~
main {
    width: 100%;
    position: absolute;
    z-index: 5;
}

article {
    position: relative;
    width: 100%;
    margin: 20px auto;
    background-color: #f8f9fa;
    box-shadow: 2px 2px 5px 2px rgba(0, 0, 0, .1);
    padding-top: 50px;

    .article-1 {
        text-align: center;

        h3 {
            color: rgba(7, 110, 178, .95);
            font-weight: bold;
        }
    }
}


.article-2 {
    display: block;
    width: 1100px;
    margin: auto;
}

.timeline-viewport {
    drop-shadow: 2px 2px 5px 2px rgba(0, 0, 0, .1);
}

// ~Article Style
// -------------------------------------------------------------
//BxSlider Style~
.thumbnail {
    display: inline-block;
    /* 箱化 */
    height: 150px;
    width: 250px;
}

.thumbnail img {
    height: 100%;
}

iframe {
    margin-left: auto;
}

//~BxSlider Style
// -------------------------------------------------------------
// Foote Style~
footer {
    background-color: #076EB2;

    .container {
        padding: 30px 0px;
    }

    small {
        color: rgba(255, 255, 255, .75);
    }
}

address {
    color: rgba(255, 255, 255, .75);
    ;
}

// ~Footer Style
// -------------------------------------------------------------
// Background pattern~
// .hexagon {
//     position: absolute;
//     width: 300px;
//     height: 173.21px;
//     background-color: #d6ebf5;
//     margin: 86.60px 0;
//     z-index: 0;
//     // box-shadow: 0 0 5px rgba(255,255,255,0.5);
// }

// .hexagon:before,
// .hexagon:after {
//     content: "";
//     position: absolute;
//     z-index: 1;
//     width: 212.13px;
//     height: 212.13px;
//     -webkit-transform: scaleY(0.5774) rotate(-45deg);
//     -ms-transform: scaleY(0.5774) rotate(-45deg);
//     transform: scaleY(0.5774) rotate(-45deg);
//     background-color: inherit;
//     left: 43.9340px;
//     // box-shadow: 0 0 5px rgba(255,255,255,0.5);
// }

// .hexagon:before {
//     top: -106.0660px;
// }

// .hexagon:after {
//     bottom: -106.0660px;
// }

// /*cover up extra shadows*/
// .hexagon span {
//     display: block;
//     position: absolute;
//     top: 0px;
//     left: 0;
//     width: 300px;
//     height: 173.2051px;
//     z-index: 1;
//     background: inherit;
// }

// .hexagon .pos01 {
//     left: 50px;
//     top: 1200px;
// }

// .hexagon .pos02 {
//     left: 500px;
//     top: 1500px;
// }
.watermark01 {
    background-image: url("../images/nlabmark.svg");
    max-width: 100%;
    height: auto;
    top: 1200px;
    left: 60px;
    z-index: 1;
}

.watermark02 {
    background-image: url("../images/nlabmark.svg");
    max-width: 100%;
    height: auto;
    top: 1800px;
    left: 100px;
    z-index: 1;
}

// ~Background pattern
// -------------------------------------------------------------
@import "_bootstrap";

// -------------------------------------------------------------
// Scroll Style~
nav {
    transition: .3s;
    z-index: 100;
    box-shadow: 0 0 5px rgba(0, 0, 0, .3);
}

.is-fixed {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100%;
}

.is-hide {
    transform: translateY(-100%);
}

// ~Scroll Style
// -------------------------------------------------------------
h1 {
    font-size: 36px;
    /* IE8以下とAndroid4.3以下用フォールバック */
    font-size: calc(2.5rem + ((1vw - 0.64rem) * 2.1429));
    /* 24px~36pxで可変*/
    line-height: 1.3;
    font-weight: bold;
}

h2 {
    font-size: 24px;
    /* IE8以下とAndroid4.3以下用フォールバック */
    font-size: calc(1.5rem + ((1vw - 0.64rem) * 0.7143));
    /* 20px~24pxで可変*/
    line-height: 1.3;
}

@media (min-width: 1200px) {

    /* 1200px以上*/
    h1 {
        font-size: 3rem;
        font-weight: bold;
    }

    h2 {
        font-size: 2rem;
    }
}

@media screen and (max-width: 640px) {

    /* 640px以下*/
    body {
        line-height: 2;
    }

    h1 {
        font-size: 1.5rem;
        /* 24px*/
        font-weight: bold;
    }

    h2 {
        font-size: 1rem;
        /* 20px*/
    }
}

// ~Font Style
// -------------------------------------------------------------
// Button Style~
.btn {
    border-radius: 1.5px;
}

.btn-small {
    border-radius: 1px;
}

.btn-large {
    border-radius: 2px;
}

.form-control {
    border-radius: 1.5px;
}

.mr-sm-2 {
    margin: 0 !important;
}

// Member site Style
.band {
    background-color: #ddd;
}
